#quoteBox {
  text-align: center;
  margin: 5% auto;
  width: 35%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

#author {
  text-align: right;
}

#film {
  font-style: italic;
  text-align: right;
  margin-bottom: 50px;
}

body {
  background: lightblue;
}

.fa-quote-left {
  position: relative;
  right: 320px;
  opacity: 0.4;
}

.fa-quote-right {
  position: relative;
  left: 320px;
  bottom: 10px;
  opacity: 0.4;
}

.btn {
text-align: center;
}

#quoteButton {
  padding: 20px 60px;
  margin-right: 60px;
  font-weight: bold;
}

.fa-twitter {
  font-size: 45px;
}

#tweetButton {
  float: left;
}

h3 {
  color: black;
}

h4 {
  color: gray;
}